.jumbotron{
		background-color: paleturquoise;
		color: black;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: powderblue;
	margin-bottom: 0px;
	margin-top: : 10px;
}

.card-producto{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-carrito{
	width: 100%;
	border-radius: 0px;
}

.footee-adress-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}